#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #e13c33;
    color: #fff;
    position: relative;

}

#cart .flex {
    justify-content: start;
}

.cartMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.cartMain h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 80px;
}

.cartMain img {
    width: 200px;
    height: 190px;
}

.cartDiv {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #fff;
    margin-bottom: 80px;
}

.cartDiv h3 {
    font-size: 23px;
}

.cartDiv p {
    font-size: 20px;
}

.cartDiv .flex {
    flex-direction: column;
    gap: 20px;
    align-items: start;
    /* margin-top: 20px; */
}

.cartDiv .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartDiv .btn button:first-child{
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.cartDiv .btn button:last-child{
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.cartDiv .btn button,
.cartDiv .btn div{
    background-color: #e13c33;
}

.cartDiv .btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 37px;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.cartDiv .btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
    font-size: 18px;
    font-weight: 400;
    width: 40px;
    height: 44px;
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 1;
}


.cartDivPrice {
    font-weight: 500;
}


.cartDivRight button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.cartDivRight p {
    position: absolute;
    right: 200px;
    top: 5px;
}

.cartDivRight span {
    color: #fff;
    font-size: 30px !important;
}

.subTotal {
    position: absolute;
    bottom: -20px;
    right: 65px;
    text-transform: capitalize;
}


/* RESPONSIVE */


@media only screen and (max-width:800px) {
    .cartDivRight p {
        right: 120px;
    }
}

@media only screen and (max-width:768px) {
    .cartDivRight p {
        top: 150px;
        right: 0;
    }

    .subTotal {
        right: 30px;
    }

}

@media only screen and (max-width:550px) {
    .cartMain img {
        width: 150px;
        height: 140px;
    }

    .cartDivRight p {
        top: 100px;
    }

    .cartDiv h3 {
        font-size: 20px;
    }

    .cartDiv p {
        font-size: 17px;
    }


    .subTotal h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width:380px) {

    .cartMain img {
        width: 120px;
        height: 110px;
        margin-bottom: 10px;
    }

    .cartDiv h3 {
        font-size: 14px;
        font-weight: 600;
    }

    .cartDiv p {
        font-size: 13px;
    }

    .cartDiv .btn button{
        width: 30px;
        height: 33px;
    }

    .cartDiv .btn div{
        width: 36px;
        height: 40px;
    }

    .cartDivRight p {
        font-size: 16px;
        top: 85px;
    }

    .subTotal {
        position: static;
    }

    .subTotal h2 {
        margin-bottom: 0;
        font-size: 20px;
    }

}