#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #e13c33;
    color: #fff;
    position: relative;

}

#cart .flex {
    justify-content: start;
}

.cartMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.cartMain h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 80px;
}

.cartMain img {
    width: 200px;
    height: 190px;
}

.cartDiv {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #fff;
    margin-bottom: 80px;
}

.cartDiv h3 {
    font-size: 23px;
}

.cartDiv p {
    font-size: 20px;
}

.cartDiv .flex {
    flex-direction: column;
    gap: 20px;
    align-items: start;
    /* margin-top: 20px; */
}

.cartDiv .btn {
    display: flex;
}

.cartDiv .btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

.cartDiv span {
    margin: 0 5px;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
}


.cartDivPrice {
    font-weight: 500;
}


.cartDivRight button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.cartDivRight p {
    position: absolute;
    right: 200px;
    top: 5px;
}

.cartDivRight span {
    color: #fff;
    font-size: 30px !important;
}

.subTotal {
    position: absolute;
    bottom: -20px;
    right: 65px;
    text-transform: capitalize;
}


/* RESPONSIVE */


@media only screen and (max-width:800px) {
    .cartDivRight p {
        right: 120px;
    }
}

@media only screen and (max-width:768px) {
    .cartDivRight p {
        top: 150px;
        right: 0;
    }

    .subTotal {
        right: 30px;
    }

}

@media only screen and (max-width:550px) {
    .cartMain img {
        width: 150px;
        height: 140px;
    }

    .cartDivRight p {
        top: 100px;
    }

    .cartDiv h3 {
        font-size: 20px;
    }

    .cartDiv p {
        font-size: 17px;
    }


    .subTotal h2{
        font-size: 25px;
    }
}

@media only screen and (max-width:380px){

    .cartMain img {
        width: 120px;
        height: 110px;
    }

    .cartDiv h3 {
        font-size: 16px;
        font-weight: 600;
    }

    .cartDiv p {
        font-size: 15px;
    }

    .cartDivRight p{
        font-size: 16px;
        top: 85px;
    }

    .subTotal{
        position: static;
    }

    .subTotal h2{
        margin-bottom: 0;
        font-size: 20px;
    }

}