#content {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-bottom: 100px;
    margin-top: 150px;
}

.headLeft {
    width: 45%;
}

.headLeft .date {
    margin-bottom: 10px;
}

.headLeft .contentHead {
    margin-bottom: 20px;
}

.headLeft .date strong {
    font-size: 16px;
    margin-right: 7px;
}

.headLeft .date span {
    font-weight: 500;
}

.headLeft .contentHead h1 {
    font-size: 70px;
}

.headLeft .contentBtn button {
    width: 250px;
    height: 60px;
    background-color: #e13c33d7;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.headLeft .contentBtn button:hover {
    background-color: #e13c33;
}


.headRight .image {
    background-image: url(../assets/image/image1.jpeg);
    width: 620px;
    height: 410px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* REAPONSIVE */

@media only screen and (max-width:1075px) {

    .headLeft .contentHead h1 {
        font-size: 50px;
    }

    .headRight .image {
        width: 435px;
        height: 310px;
    }

}

@media only screen and (max-width:890px) {

    .headLeft .contentHead h1 {
        font-size: 45px;
    }

    .headRight .image {
        width: 415px;
        height: 290px;
    }
}

@media only screen and (max-width:768px) {

    #content .flex {
        flex-direction: column-reverse;
    }

    .headRight,
    .headLeft {
        width: 100%;
    }

    .headRight .image {
        width: 100%;
        height: 234px;
        margin-bottom: 30px;
    }

    .headLeft .date {
        margin-bottom: 50px;
    }

    .headLeft .contentHead h1 {
        margin-bottom: 40px;
    }

    .headLeft .contentBtn button{
        width: 250px;
        height: 50px;
    }
}

@media only screen and (max-width:530px){
    
    .headLeft .contentHead h1 {
        font-size: 35px;
    }

    .headLeft .contentBtn button{
        width: 100%;
        height: 50px;
    }
}