#upcoming {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upLeft {
    background-image: url(../assets/image/image2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 60%; */
    width: 660px;
    height: 360px;
    transition: 0.2s;
    position: relative;
}

.leftDesc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.716);
    width: 100%;
    bottom: 0;
    padding: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.05s;
    font-size: 15px;
}

.leftDesc p {
    background-color: transparent;
    color: #c1c1c1;
}

.upLeft:hover .leftDesc {
    transform: translateY(0);
    opacity: 1;
}

.upRight {
    text-align: center;
    width: 30%;
}

.upRight .flex {
    justify-content: space-around;
}

.upRight h2 {
    font-size: 55px;
    margin-bottom: 40px;
}

.upRight p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.streamDiv {
    margin-bottom: 20px;
}

.streamTop,
.streamBottom {
    margin-bottom: 40px;
}

.streamBtn button {
    width: 250px;
    height: 60px;
    background-color: #e13c33d7;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.streamBtn button:hover {
    background-color: #e13c33;
}

/* RESPONSIVE */

@media only screen and (max-width:1075px) {
    .upLeft {
        width: 460px;
        height: 260px;
    }

    .upRight h2 {
        font-size: 45px;
    }
}

@media only screen and (max-width:960px) {
    .upRight .flex {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px){
    #upcoming .flex{
        flex-direction: column;
    }

    .upLeft,
    .upRight{
        width: 100%;
    }


    .upLeft{
        /* width: 100%; */
        height: 234px;
        margin-bottom: 50px;
    }

    .upRight h2{
        font-size: 35px;
    }

    .upRight .flex{
        flex-direction: row !important;
    }

    .streamBtn button{
        width: 350px;
    }
}

@media only screen and (max-width: 530px){
    .upRight h2{
        font-size: 30px;
    }

    .streamBtn button{
        width: 100%;
    }
}