#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.flex {
    justify-content: space-between;
}

.navRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navbar .flex {
    gap: 20px;
}

.navLogo .link {
    text-decoration: none;
}

.navLogo p {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #fff !important;
}

.navMenu li {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.social span {
    font-size: 22px;
    padding-left: 25px;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
}

.cart span {
    font-size: 27px;
    cursor: pointer;
}

.burgerMenu {
    display: none;
}


.burgerMenu span {
    width: 30px;
    height: 1.5px;
    background-color: #dddddd;
    border-radius: 5px;
    display: block;
    margin-bottom: 8px;
    transition: 0.3s;
}

.burgerMenu.active span:first-child {
    transform: rotate(45deg);
    transform-origin: center;
    position: relative;
    top: 9px;
    right: 1px;

}

.burgerMenu.active span:last-child {
    transform: rotate(-45deg);
    transform-origin: center;
    position: relative;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {

    #header {
        padding: 35px 0;
    }

    .burgerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: transparent;
        border: none;
        position: relative;
    }

    .social {
        display: none;
    }

    .navbar {
        display: none;
    }


}

@media only screen and (max-width: 320px) {

    #header {
        padding: 35px 0;
    }

    .navLogo p {
        font-size: 16px;
    }

    .burgerMenu {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: transparent;
        border: none;
        position: relative;
    }
}