#shows {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #000;
}

.showsHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    /* margin-top: 50px; */
}

.showsHead h1 {
    color: #fff;
    font-size: 50px;
}


@media only screen and (max-width:768px) {

    #shows {
        padding: 20px 0;
    }

    .showsHead{
        margin-bottom: 80px;
        margin-top: 40px;
        text-align: center;
    }

    .showsHead h1 {
        font-size: 40px;
    }

}

@media only screen and (max-width: 440px) {

    #shows{
        padding: 10px 0;
    }

    .showsHead{
        margin-top: 0;
    }

    .showsHead h1 {
        font-size: 32px;
    }
}