#products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #e13c33;
    color: #fff;
}

.productMain {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.productMain .productImg {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productImg  img {
    width: 600px;
    height: 590px;
}

.productMain .productData {
    margin-top: 100px;
}

.productData h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.productData .productPrice {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.productData .productDesc {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 50px;
}

.selectSize {
    margin-bottom: 30px;
}

.selectSize p,
.selectCount p {
    font-weight: 500;
    margin-bottom: 5px;
}

.selectSize select,
.productData button{
    width: 250px;
    height: 60px;
}

.selectSize select {
    font-size: 14px;
    outline: none;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 10px;
}

.selectSize option {
    color: #000;
}

.selectCount {
    margin-bottom: 40px;
}

.selectCount input {
    width: 85px;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
}

.productData button {
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.productData button:hover {
    background-color: #fff;
    color: #e13c33;
    font-weight: 500;
    border: none;
}

.productData button:active {
    background-color: #fff;
    color: #e13c33;
    font-weight: 500;
    border: none;
}


/* RESPONSIVE */

@media only screen and (max-width:1200px) {
    .productImg img {
        width: 500px;
        height: 490px;
    }

    .productData h2 {
        font-size: 45px;
    }

    .productData .productPrice {
        font-size: 22px;
    }

    .productData .productDesc {
        font-size: 15px;

    }
}

@media only screen and (max-width:980px) {
    .productImg img {
        width: 480px;
        height: 470px;
    }

    .productData h2 {
        font-size: 40px;
    }

    .productData .productPrice {
        font-size: 22px;
    }

    .productData .productDesc {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:890px) {
    .productImg img {
        width: 400px;
        height: 390px;
    }

    .productData h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .productData .productPrice {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .productData .productDesc {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .selectSize select,
    .productData button {
        width: 200px;
        height: 60px;
        font-size: 14px;
    }

    .selectCount input {
        width: 75px;
        height: 40px;
    }


    .selectSize p,
    .selectCount p {
        font-size: 14px;
    }
}

@media only screen and (max-width:768px){

    .productImg img {
        width: 450px;
        height: 440px;
    }

    .productImg img:nth-child(2){
        display: none;
    }

    .productMain{
        flex-direction: column;
    }

    .productMain .productData {
        margin-top: 0;
    }
}

@media only screen and (max-width:550px){
    .productImg img {
        width: 400px;
        height: 390px;
    }
}

@media only screen and (max-width:440px){
    .productImg img {
        width: 280px;
        height: 270px;
    }

    .productData h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .productData .productPrice {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .productData .productDesc {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .selectSize select,
    .productData button {
        width: 150px;
        height: 60px;
        font-size: 14px;
    }
    .productData button {
        width: 100%;
    }

    .selectCount input {
        width: 75px;
        height: 40px;
    }



    .selectSize p,
    .selectCount p {
        font-size: 12px;
        font-weight: 400;
    }
}