#featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #000;
}

.featHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.featHead h1 {
    color: #fff;
    font-size: 50px;
}

@media only screen and (max-width:768px) {

    #featured {
        padding: 40px 0;
    }

    .featHead{
        margin-bottom: 80px;
    }

    .featHead h1 {
        font-size: 40px;
    }

}

@media only screen and (max-width: 440px) {

    .featHead h1 {
        font-size: 32px;
    }
}