.imgDiv img {
    width: 560px;
    height: 550px;
    cursor: pointer;
    margin-bottom: -50px;
}

.imgDiv h4 {
    font-size: 27px;
    margin-bottom: 10px;
}

.imgDiv p {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 50px;
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* RESPONSIVE */

@media only screen and (max-width:768px){

    .imgDiv img {
        width: 460px;
        height: 450px;
    }

} 

@media only screen and (max-width:440px){

    .imgDiv img {
        width: 360px;
        height: 350px;
        margin-bottom: -10px;
    }

    .imgDiv h4{
        font-size: 24px;
    }

    .imgDiv p{
        font-size: 20px;
    }

} 