#featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #000;
}

.featHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.featHead h1 {
    color: #fff;
    font-size: 50px;
}

.featDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.videoComp {
    position: relative;
    margin-bottom: 50px;
}

.videoComp img {
    z-index: 1;
    width: 398px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.videoComp button {
    position: absolute;
    left: 190px;
    top: 100px;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.videoComp i {
    color: #fff;
    background-color: transparent;
    font-size: 38px;
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.479) 1px 3px 8px;
}

.videoComp iframe {
    width: 398px;
    height: 230px;
}

.videoComp p {
    color: #fff;
    margin-top: 20px;
}

.videoComp .videoTitle {
    font-weight: 600;
}


/* RESPONSIVE */

@media only screen and (max-width:890px) {

    .videoComp img,
    .videoComp iframe {
        width: 338px;
        height: 190px;
    }

    .videoComp button {
        position: absolute;
        left: 160px;
        top: 80px;
    }
}

@media only screen and (max-width:768px) {

    #featured {
        padding: 40px 0;
    }

    .videoComp img,
    .videoComp iframe {
        width: 398px;
        height: 230px;
    }

    .videoComp button {
        position: absolute;
        left: 190px;
        top: 100px;
    }

    .featDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .featHead{
        margin-bottom: 80px;
    }

    .featHead h1 {
        font-size: 40px;
    }

}

@media only screen and (max-width: 440px) {

    .videoComp img,
    .videoComp iframe {
        width: 288px;
        height: 170px;
    }

    .videoComp button {
        position: absolute;
        top: 70px;
        left: 130px;
    }

    .videoComp i {
        font-size: 30px;
    }

    .featHead h1 {
        font-size: 32px;
    }
}